*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/vcs.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/azure-configs.properties
/app/build/intermediates/
/adb
/.gradle/
/.idea/
/app/build/
/app/release/
/app/live/
/app/development/
/app/stagging/
/cache/database/build/
/cache/shared_pref/build/
/buildSrc/build/source-roots/buildSrc/source-roots.txt
/buildSrc/build/classes/
/buildSrc/build/kotlin/
/buildSrc/build/libs/
/buildSrc/build/pluginDescriptors/
/buildSrc/build/pluginUnderTestMetadata/
/buildSrc/build/reports/
/buildSrc/build/tmp/
/buildSrc/build/
/app/staging/qcTesting/output-metadata.json
/app/staging/qcTesting/app-staging.aab
/app/staging/qcTesting/app-staging-qcTesting.apk
